
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */
.header-t {
    display: flex;
    justify-content: space-between;
    background-color: #008205;
    padding: 6px 60px;
    
}

.main-header-t {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #1DA1F2; 
    border-radius: 50%;
    color: white;
    font-size: 24px;
}

.facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #1877F2; 
    border-radius: 50%;
    color: white;
    font-size: 24px;
}

.linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #0077B5; 
    border-radius: 50%;
    color: white;
    font-size: 24px;
}

.youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #FF0000; 
    border-radius: 50%;
    color: white;
    font-size: 24px;
}

.header-contacts {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: center;
    
}

.header-contacts a {
    color: inherit;
    text-decoration: none;
}

.phone-no {
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
}

.phone-no span:first-of-type {
    color: #464CAC;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 10px;
}

.language-dropdown {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.header-b {
    padding-left: 60px;
}

.header-b img {
    width: 40%;
}
/*navbar*/
.navbar {
    display: flex;
    justify-content: center;
    background-color: #008205;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar ul {
    display: flex;
    gap: 75px;
    list-style-type: none;
}

.navbar li {
    position: relative;
    font-size: large;
    font-size: 900;
}

.navbar a:hover {
    color: #FFFFFF;
}

.navbar a {
    display: block;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease;
}

nav ul li a:hover {
    background-color: #111;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #008205;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dropbtn:hover {
    color: #FFFFFF;
}

.dropbtn a:hover {
    color: #FFFFFF;
}

.dropdown-content hr {
    border: 0;
    height: 1px;
    background: #008205;
}

/*image carousel*/

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slide {
    display: none;
}

img {
    width: 100%;
    vertical-align: middle;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dots-container {
    text-align: center;
    padding: 20px;
    
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}


/* intro to cle*/
.container {
    background-color: #F9F9F9;
    display: flex;
    gap: 10px;
    padding: 40px 60px;
    margin-top: 15px;
}

.container-l img{
    width: 100%;
}

.container-intro {
    display:flexbox;
    gap: 20px;
}

.container-intro h3 {
    font-size: large;
    font-weight: 700;
    color: #464CAC;
}

.container-intro hr {
    border: none;
    height: 3px;
    background-color: #333;
    margin: 15px 0;
    width: 30%;
}

.container-intro p {
    margin-top: 40px;
    line-height: 1.7;
    font-weight: 500;
}

.container-intro button {
    padding: 9px 20px;
    text-align: center;
    color: white;
    background-color: #464CAC;
    margin-top: 70px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-link {
    text-decoration: none;
}

/* Services */
.main-services {
    padding: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #464CAC;
}

.main-services h2{
    color: white;
    text-align: center;
    padding-bottom: 3px;
    font-weight: 600;
}

.main-services hr {
    border: none;
    height: 3px;
    background-color: white;
    margin: 5px auto;
    width: 10%;
    margin-bottom: 50px;
}

.services {
    display: flex;
    gap: 20px;
    padding-top: 20px;
}

.main-regulator {
    display: flex;
    gap: 1px;
    border: solid black 1px;
    padding: 15px 8px;
    cursor: pointer;
}

.main-regulator:hover {
    background-color: white;
    transition: background-color 0.5s ease, transform 0.5s ease;
    border: solid gray 1px;
}

.main-regulator svg {
    width: 70%;
    color: #008205;
}

.regulator-title {
    display: flex;
    flex-direction: column;
    color: black;
}

.regulator-title p:first-of-type {
    font-weight: bold;
    color: #008205;
    padding-bottom: 15px;
}

.regulator-title p {
    font-weight: 500;
    line-height: 1.5;
}

.main-accreditation{
    display: flex;
    gap: 1px;
    border: solid black 1px;
    padding: 15px 8px;
    cursor: pointer;
}

.main-accreditation svg {
    width: 70%;
    color: #008205;
}

.main-accreditation:hover {
    background-color: white;
    transition: background-color 0.5s ease, transform 0.5s ease;
    border: solid gray 1px;
}

.accreditation-title {
    display: flex;
    flex-direction: column;
    color: black;
}

.accreditation-title p:first-of-type {
    font-weight: bold;
    color: #008205;
    padding-bottom: 15px;
}

.accreditation-title p {
    font-weight: 500;
    line-height: 1.5;
}

.main-bar {
    display: flex;
    gap: 1px;
    border: solid black 1px;
    padding: 15px 8px;
    cursor: pointer;
}

.main-bar:hover {
    background-color: white;
    transition: background-color 0.5s ease, transform 0.5s ease;
    border: solid gray 1px;
}

.main-bar svg {
    width: 70%;
    color: #008205;
}

.bar-title {
    display: flex;
    flex-direction: column;
    color: black;
}

.bar-title p:first-of-type {
    font-weight: bold;
    color: #008205;
    padding-bottom: 15px;
}

.bar-title p {
    font-weight: 500;
    line-height: 1.5;
}

/* Performance metrics */
.main-metrics {
    gap: 35px;
    margin: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.main-metrics h2{
    color: black;
    text-align: center;
    padding-bottom: 3px;
    font-weight: 600;
}

.main-metrics hr {
    border: none;
    height: 4px;
    background-color: #008205;
    margin: 5px auto;
    width: 16%;
    margin-bottom: 50px;
}

.metrics {
    display: flex;
    justify-content: space-evenly;
}

.performance-metric {
    display: flex;
    align-items: center;
    gap: 15px;
}

.outer-circle {
    width: 75px;
    height: 75px;
    border: 1px solid #E5E4E2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 55px;
    height: 55px;
    background-color: #008205;
    border: gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle svg {
    color: white;
    font-size: 24px;
}

.candidates {
    display: flex;
    flex-direction: column;
}

.candidates span{
    font-weight: bold;
    line-height: 1.5;
    font-size: large;
}

/* Contact info */
.main-contact {
    background-color: #008205;
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-evenly;
}

.contact {
    display: flex;
    gap: 90px;
}

.contact-info-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-info-header {
    display: flex;
    flex-direction: column;
}

.contact-info-header h2 {
    color: white;
    padding-bottom: 15px;
}

.contact-info-header hr {
    border: none;
    height:2px;
    background-color: white;
    margin: 5px auto;
    width: 100%;
}

.contact-bread {
    display: flex;
    gap: 15px;
    align-items: center;
    padding-top: 3px;
}

.contact-bread span {
    color: white;
}

.contact-bread svg {
    color: #464CAC;
}

.contact-bread a {
    text-decoration: none;
}

.contact-info .contact-bread:nth-of-type(4) {
    cursor: pointer;
}

.contact-info-title .contact-bread:nth-of-type(5) {
    cursor: pointer;
}

.e-services {
    display: flex;
    flex-direction: column;
}

.e-services-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.e-services-title hr {
    border: none;
    height:2px;
    background-color: white;
    margin: 5px auto;
    width: 100%;
}

.e-services-title h2 {
    color: white;
    padding-bottom: 6px;
}

.e-services-details {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.e-services-details a {
    text-decoration: none;
    padding-top: 15px;
    color: white;
}

.e-services-details a:hover {
    color: #464CAC;
}

.related-links {
    display: flex;
    flex-direction: column;
}

.related-links-header {
    display: flex;
    flex-direction: column;
}

.related-links-title {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.related-links-header hr {
    border: none;
    height:2px;
    background-color: white;
    margin: 5px auto;
    width: 100%;
}

.related-links-header h2 {
    color: white;
    padding-bottom: 15px;
}

.related-links-title a {
    text-decoration: none;
    padding-top: 15px;
    color: white;
}

.related-links-title a:hover {
    color: #464CAC;
}

.directions {
    display: flex;
    flex-direction: column;
}

.directions-title {
    display: flex;
    flex-direction: column;
}

.directions-title hr {
    border: none;
    height:2px;
    background-color: white;
    margin: 5px auto;
    width: 100%;
}

.directions-title h2 {
    color: white;
    padding-bottom: 15px;
}

/* footer */
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #E5E4E2;
    margin: 0;
}

.copyright-l {
    font-size: medium;
    font-weight: 700;
}

.copyright-r {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.copyright-r p {
    font-size: medium;
    font-weight: 700;
    color: black;
}

.copyright-r a {
    text-decoration: none;
}

.social-icons-footer {
    display: flex;
    gap: 20px;
}


@media screen and (max-width: 768px){
    /*header*/
    .header-t {
        padding: 0;
        margin: 0;
        padding: 10px 5px;
        display: flex;
        justify-content: center;
    }
    .main-header-t {
        display: flex;
        gap: 30px;
        margin: 0;
        padding: 0;
    }
    .social-icons {
        display: flex;
        gap: 10px;
        margin-top: 0;
    }
    .phone-no {
        display: none;
    }
    .header-contacts {
        flex-direction: column;
        gap: 6px;
    }
    .search-bar {
        display: none;
    }

    /*logo*/
    .header-b img{
        width: 10%;
        height: 10%;
    }

    /* nav bar */
    .navbar {
        padding: 0;
        margin: 0;
        padding: 10px 5px;
    }
    .navbar ul{
        font-size: large;
        gap: 20px;
        align-items: center;
    }
    .navbar a:hover {
    color: #FFFFFF;
    }
    .navbar a {
        display: block;
        text-decoration: none;
        color: black;
        transition: transform 0.3s ease;
    }

    /* image carousel */
    .slideshow-container {
        width: 100%;
        height: 80%;
    }
    .dot {
        margin-top: -10px;
    }

    /*intro to cle */
    .container {
        flex-direction: column;
    }
    .container-l img{
        width: 100%;
        margin-top: -20px;
        padding-top: 0;
    }
    .container-intro button{
        margin-top: 12px;
    }
    .container-intro p {
        margin-top: 0;
        line-height: 1.2;
        font-weight: 500;
        margin-bottom: 0;
    }

    /* services */
    .main-services {
        flex-direction: column;
        padding: 0;
        margin: 0;
        padding: 40px 40px;
    }
    .main-services h2 {
        font-size: large;
    }
    .main-services hr {
        display: none;
    }
    .services {
        flex-direction: column;
    }
    .main-regulator svg{
        width: 100%;
    }
    .main-accreditation svg{
        width: 100%;
    }
    .main-bar svg{
        width: 100%;
    }

    /* performance metrics */
    .main-metrics {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        margin-top: -80px;
        margin: 0;
    }
    .main-metrics h2{
        font-size: large;
    }
    .main-metrics hr{
        display: none;
    }
    .metrics {
        flex-direction: column;
        gap: 30px;
    }
    .metrics .inner-circle {
        width: 60%;
        height: 60%;
    }
    .performance-metric {
        gap: 20px;
    }
    .candidates span {
        font-size: small;
    }

    /* contact info */
    .contact {
        margin: 0;
        padding-top: 30px;
    }
    .contact-bread {
        margin: -8px;
    }
    .contact {
        display: flex;
        flex-direction: column;
        padding-bottom: 100px;
    }
    .contact-info-title span {
        font-size: small;
    }
    .contact-info-title h2 {
        font-size: small;
    }
    .contact h2 {
        font-size: large;
    }
    .contact span {
        font-size: small;
    }
    .e-services {
        margin: 0;
        padding: 0;
    }

    /* footer */
    .copyright {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        padding-bottom: -50px;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .copyright-p {
        width: 100%;
        box-sizing: border-box;
    }
    .copyright-l p{
        font-size: small;
    }
    .copyright-r p{
        display: none;
    }
    .social-icons-footer {
        display: flex;
        gap: 5px;
        margin-bottom: 15px;
    }
}